@page
@model BookStore_AzureAppService.Pages.Books_AzureFunctionModel
@{
}

<div class="text-center">
    <h2>Book Inventory from Azure Functions App</h2>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Book Cover</th>
                <th scope="col">Book Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var books in Model.Books)
            {
                <tr>
                    <td scope="row"><img src=@books.ImageUrl alt="" /></td>
                    <td scope="row" align="left" valign="middle">
                        <ul>
                            <li><b>Book ID : </b> @books.BookId</li>
                            <li><b>Title : </b>@books.Title</li>
                            <li><b>Author : </b>@books.Author</li>
                            <li><b>Genere : </b>@books.Genere</li>
                            <li><b>Is Fiction ? : </b>@books.IsFiction</li>
                            <li><b>Cost : </b>@books.Cost</li>
                            <li><b>Published On : </b>@books.PublishedDate</li>
                        </ul>
                </tr>
            }
        </tbody>
    </table>
</div>
